@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap');

.blog-page {
  min-height: 100%;
  width: 100%;
  position: relative;

  background-image: url("/images/lana1.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding: 120px 0;
}
.blog-page h1 {
  font-size: 60px;
  letter-spacing: 6px;

  color: rgba(97, 32, 32, 1);

  font-family: "IM FELL DW Pica", serif !important;

  margin-bottom: 30px;
}

.blog-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

.blog-container {
  position: relative;
  z-index: 2;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 8%;
}

.blog-title {
  text-align: center;

  font-size: 60px;
  letter-spacing: 6px;

  color: rgba(97, 32, 32, 1);

  font-family: "IM FELL DW Pica", serif !important;

  margin-bottom: 10px;
}

.blog-subtitle {
  text-align: center;

  color: rgba(215, 161, 108, 1);

  font-style: italic;
  margin-bottom: 80px;

  font-size: 18px;
}

.blog-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.blog-card {
  position: relative;

  padding: 35px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(215,161,108,0.25);
  border-left: 6px solid #c8a27a;

  transition: all 0.35s ease;
  cursor: pointer;

  overflow: hidden;
}

.blog-card::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: rgba(255,255,255,0.25);
}

.blog-card:hover {
  transform: translateY(-8px);

  background: rgba(255,255,255,0.12);

  box-shadow:
    0 20px 40px rgba(0,0,0,0.35),
    0 0 25px rgba(215,161,108,0.12);
}

.blog-card h2 {
  font-size: 15px;

  letter-spacing: 3px;
  text-transform: uppercase;

  color: rgba(215,161,108,1);

  margin-bottom: 15px;
}

.blog-card h3 {
  font-size: 28px;

  color: white;

  margin-bottom: 15px;

  font-family: "IM FELL DW Pica", serif;
}

.blog-card p {
  color: #5e2605c7;

  line-height: 1.9;
  font-size: 15px;

  max-width: 900px;
}

.blog-read {
  margin-top: 25px;

  display: inline-block;

  color: rgba(215,161,108,1);

  font-style: italic;

  transition: 0.3s;
}

.blog-card:hover .blog-read {
  transform: translateX(6px);
}
/* MOBILE */
@media (max-width: 768px) {

  .blog-page {
    padding: 80px 0;
    background-attachment: scroll;
  }

  .blog-title,
  .blog-page h1 {
    font-size: 34px;
    letter-spacing: 2px;
  }

  .blog-subtitle {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .blog-card {
    padding: 20px;
  }

  .blog-card h2 {
    font-size: 12px;
    letter-spacing: 2px;
  }

  .blog-card h3 {
    font-size: 20px;
  }

  .blog-card p {
    font-size: 14px;
    line-height: 1.7;
  }

  .blog-read {
    font-size: 14px;
  }
}