.home {
  min-height: 100vh;
  width: 100%;
  background: #0b0b0f;
  color: rgba(255, 255, 255, 0.85);
  font-family: serif;
}

/* SCROLL SMOOTH */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* CHAQUE SECTION = FULL SCREEN */
section {
  min-height: 100vh;
  width: 100%;
  scroll-snap-align: start;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  padding: 80px 0;
  box-sizing: border-box;
}

/* CONTAINER GLOBAL (comme Album) */
.page-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;

  padding: 0 10%;
  box-sizing: border-box;
}

/* HERO */
.hero {
  height: 100vh;
  width: 100%;

  background-image: url("/images/homelana.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

/* TITRE HERO */
.site-title {
  position: absolute;
  top: 30px;
  left: 50px;

  font-size: 28px;
  letter-spacing: 4px;
  color: #c8a27a;
}

/* HERO CONTENT */
.hero-content {
  text-align: center;
  z-index: 2;
}