@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Inknut+Antiqua:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
   font-family: "Inknut Antiqua", serif;
  background: linear-gradient(180deg, #0b0b0f, #1a1a24);
}

/* CENTER */
.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/images/lana1.jpeg");
  align-items: center;
  justify-content: center;


}

/* HEADER */
.login-header {
  text-align: center;
  margin-bottom: 25px;
}

.login-title {
  font-size: 36px;
  font-weight: 300;
   color: rgba(97, 32, 32, 1);
  font-family: "IM FELL DW Pica", serif !important;

  letter-spacing: 2px;
}

.login-subtitle {
  color: rgba(109, 3, 3, 0.712);
  font-size: 14px;
}

/* CARD */
.login-card {
  width: 100%;
  max-width: 420px;
  padding: 30px;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(12px);

  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
}

/* INPUT */
.login-input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;

  border: none;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.021);
  color: rgba(97, 32, 32, 1);

  outline: none;
  font-size: 14px;
}

.login-input::placeholder {
  color: rgba(71, 16, 16, 0.4);
}

/* BUTTON */
.login-button {
  width: 100%;
  padding: 14px;

  border: none;
  border-radius: 12px;

  background: rgba(128, 6, 6, 0.767);
  color: white;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.login-button:hover {
  transform: scale(1.03);
}

.login-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}